form {
  border: 3px solid rgb(0, 0, 0);
  padding: 30px;
  margin: 10px auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #ffc4c4, #aef8ff);

}
input,select,button{
  display: block; 
  margin-top: 7px;}
button{background-color: #db9a9a; 
  color: rgb(0, 0, 0);
  padding: 10px 20px; 
  cursor: pointer;
  transition: background-color 0.3s;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
button:hover{
  background-color: #7048ff;
  font-family:comic sans;
}
.info{
  background-color: rgb(31, 221, 255);
}
 